<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Home Assistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3" style="align-content: center">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="width: 100%; background-color: rgba(211, 87, 254, 0.1)">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </RadzenButton>
            </NavLink>
        </li>
        <li class="nav-item px-3" style="align-content: center">
            <NavLink class="nav-link" href="Houses">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="width: 100%; background-color: rgba(211, 87, 254, 0.1)">
                    <span class="oi oi-wifi" aria-hidden="true"></span> Manager
                </RadzenButton>
            </NavLink>
        </li>
        <li class="nav-item px-3" style="align-content: center">
            <NavLink class="nav-link" href="Scheduler">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="width: 100%; background-color: rgba(211, 87, 254, 0.1)">
                    <span class="oi oi-calendar" aria-hidden="true"></span> Scheduler
                </RadzenButton>
            </NavLink>
        </li>
        <li class="nav-item px-3" style="align-content: center">
            <NavLink class="nav-link" href="Checkout">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Style="width: 100%; background-color: rgba(211, 87, 254, 0.1)">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> Upgrades
                </RadzenButton>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}