@page "/Houses"
@using global::Shared.Models
@inject global::Interface.Scripts.IdService IdService
@inject HttpClient Http
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavManager
@attribute [Authorize]

<div class="input-group">
    <input class="form-control" placeholder="House name" @bind="_newHouseName" aria-describedby="add-house-addon"
           style="margin: 1rem"/>
    <div class="input-group-append">
        <button class="btn btn-info" id="add-house-addon" @onclick="AddHouse" style="margin: 1rem"> Add house </button>
    </div>
</div>
<div class="row">
    @if (!(_houses is null))
    {
        foreach (var house in _houses)
        {
            <div class="card" style="width: 16rem; margin: 1rem">
                <h3 class="card-header" style="text-align: center"> @house.Name </h3>
                <div class="card-body" style="margin: auto">
                    <div class="btn-group">
                        <button class="btn btn-dark" @onclick="@(() => SetHouseId(house.Id))"> Manage house </button>
                        <button class="btn btn-danger" @onclick="@(() => DeleteHouse(house.Id))"> Delete house </button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        _houses = await Http.GetFromJsonAsync<IList<House>>("houses");
    }

}