@page "/Houses"
@using Interface.Scripts
@using global::Shared.Models
@inject IdService _idService
@inject HttpClient _http
@inject IJSRuntime _jsRuntime;
@inject NavigationManager _navManager
@attribute [Authorize]

<div class="input-group">
    <input class="form-control" placeholder="House name" @bind="_newHouseName" aria-describedby="add-house-addon"
           style="margin: 1rem"/>
    <div class="input-group-append">
        <button class="btn btn-info" id="add-house-addon" @onclick="AddHouse" style="margin: 1rem"> Add house </button>
    </div>
</div>
<ul class="list-group list-group-horizontal flex-wrap" >
    @if (_houses is not null)
    {
        foreach (var house in _houses)
        {
            <li class="list-group-item" style="margin: 0.5rem">
                <div class="card" style="width: 16rem">
                    <h3 class="card-header" style="text-align: center"> @house.Name </h3>
                    <div class="card-body" style="margin: auto">
                        <div class="btn-group">
                            <button class="btn btn-dark" @onclick="@(() => SetHouseId(house.Id))"> Manage house </button>
                            <button class="btn btn-danger" @onclick="@(() => DeleteHouse(house.Id))"> Delete house </button>
                        </div>
                    </div>
                </div>
            </li>
        }
    }
</ul>

@code {

    protected override async Task OnInitializedAsync()
    {
        _houses = await _http.GetFromJsonAsync<IList<House>>("houses");
    }

}