@page "/"
@inject IAccessTokenProvider _accessTokenProvider
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration
@attribute [Authorize]

<h1>Home Assistant</h1>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var token = await GetAccessTokenAsync();
        Console.WriteLine(token);
    }

    async Task<string> GetAccessTokenAsync()
    {
        var request = await _accessTokenProvider.RequestAccessToken(new AccessTokenRequestOptions
        {
            Scopes = new[]
            {
                _configuration["AzureAdB2C:Scope"]
            }
        });
        var result = request.TryGetToken(out var accessToken);
        return result ? accessToken.Value : null;
    }
}