@page "/"
@inject HttpClient Http
@inject IAccessTokenProvider AccessTokenProvider
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@attribute [Authorize]

<h1>Home Assistant</h1>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var token = await GetAccessTokenAsync();
        Console.WriteLine(token);
    }

    async Task<string> GetAccessTokenAsync()
    {
        var request = await AccessTokenProvider.RequestAccessToken(new AccessTokenRequestOptions
        {
            Scopes = new[]
            {
                Configuration["AzureAdB2C:Scope"]
            }
        });
        var result = request.TryGetToken(out var accessToken);
        return result ? accessToken.Value : null;
    }
}