@page "/Rooms"
@using Interface.Scripts
@using global::Shared.Models
@inject IdService _idService
@inject HttpClient _http
@inject IJSRuntime _jsRuntime;
@inject NavigationManager _navManager
@attribute [Authorize]

<div class="input-group">
    <input class="form-control" placeholder="Room name" @bind="_newRoomName" aria-describedby="add-room-addon"
           style="margin: 1rem"/>
    <div class="input-group-append">
        <span class="btn btn-info" id="add-room-addon" @onclick="AddRoom" style="margin: 1rem"> Add room </span>
    </div>
</div>
<div class="list-group list-group-horizontal flex-wrap">
    @if (_rooms is not null)
    {
        @foreach (var room in _rooms)
        {
            <li class="list-group-item" style="margin: 0.5rem">
                <div class="card" style="width: 16rem">
                    <h3 class="card-header" style="text-align: center"> @room.Name </h3>
                    <div class="card-body" style="margin: auto">
                        <div class="btn-group">
                            <button class="btn btn-dark" @onclick="@(() => SetRoomId(room.Id))"> Manage room </button>
                            <button class="btn btn-danger" @onclick="@(() => DeleteRoom(room.Id))"> Delete room </button>
                        </div>
                    </div>
                </div>
            </li>
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        _houseId = await _idService.GetHouseId();
        _rooms = await _http.GetFromJsonAsync<IList<Room>>($"houses/{_houseId}/rooms");
    }

}