@page "/Rooms"
@using global::Shared.Models
@inject global::Interface.Scripts.IdService IdService
@inject HttpClient Http
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavManager
@attribute [Authorize]

<div class="input-group">
    <input class="form-control" placeholder="Room name" @bind="_newRoomName" aria-describedby="add-room-addon"
           style="margin: 1rem"/>
    <div class="input-group-append">
        <span class="btn btn-info" id="add-room-addon" @onclick="AddRoom" style="margin: 1rem"> Add room </span>
    </div>
</div>
<div class="row">
    @if (!(_rooms is null))
    {
        @foreach (var room in _rooms)
        {
            <div class="card" style="width: 16rem; margin: 1rem">
                <h3 class="card-header" style="text-align: center"> @room.Name </h3>
                <div class="card-body" style="margin: auto">
                    <div class="btn-group">
                        <button class="btn btn-dark" @onclick="@(() => SetRoomId(room.Id))"> Manage room </button>
                        <button class="btn btn-danger" @onclick="@(() => DeleteRoom(room.Id))"> Delete room </button>
                    </div>
                </div>
            </div>
        }
    }
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        _houseId = await IdService.GetHouseId();
        _rooms = await Http.GetFromJsonAsync<IList<Room>>($"houses/{_houseId}/rooms");
    }

}