@page "/Room"
<div class="row">
    <div class="col">
        <ul class="list-group list-group-vertical">
            @foreach (var lightBulb in _lightBulbs)
            {
                <li class="list-group-item">
                    <div class="card">
                        <h3 class="card-header" style="text-align: center">@lightBulb</h3>
                        <div class="card-body" style="margin: auto">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">Off</button>
                                <input type="range" class="form-range" min="2" max="8" id="LB" style="margin: 0.25rem">
                                <button type="button" class="btn btn-success">On</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="input-group">
            <input class="form-control" placeholder="Light bulb name" @bind="_newLightBulb"
                   aria-describedby="add-light-bulb-addon"/>
            <div class="input-group-append">
                <span class="btn btn-info" id="add-light-bulb-addon" @onclick="AddLightBulb">Add light bulb</span>
            </div>
        </div>
    </div>
    <div class="col">
        <ul class="list-group list-group-vertical">
            @foreach (var door in _doors)
            {
                <li class="list-group-item">
                    <div class="card">
                        <h3 class="card-header" style="text-align: center">@door</h3>
                        <div class="card-body" style="margin: auto">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-danger">Lock</button>
                                <button type="button" class="btn btn-success">Unlock</button>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="input-group">
            <input class="form-control" placeholder="Door name" @bind="_newDoor" aria-describedby="add-door-addon"/>
            <div class="input-group-append">
                <span class="btn btn-info" id="add-door-addon" @onclick="AddDoor">Add door</span>
            </div>
        </div>
    </div>
    <div class="col">
        <ul class="list-group list-group-vertical">
            @foreach (var thermostat in _thermostats)
            {
                <li class="list-group-item">
                    <div class="card">
                        <h3 class="card-header" style="text-align: center">@thermostat</h3>
                        <div class="card-body" style="margin: auto">
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <input type="range" class="form-range" min="7" max="30" id="temp">
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="input-group">
            <input class="form-control" placeholder="Thermostat name" @bind="_newThermostat"
                   aria-describedby="add-thermostat-addon"/>
            <div class="input-group-append">
                <span class="btn btn-info" id="add-thermostat-addon" @onclick="AddThermostat">Add thermostat</span>
            </div>
        </div>
    </div>
</div>

@code {
    private readonly IList<string> _lightBulbs = new List<string>();
    private string _newLightBulb;

    private void AddLightBulb()
    {
        if (string.IsNullOrWhiteSpace(_newLightBulb))
        {
            return;
        }
        _lightBulbs.Add(_newLightBulb);
        _newLightBulb = string.Empty;
    }

    private readonly IList<string> _doors = new List<string>();
    private string _newDoor;

    private void AddDoor()
    {
        if (string.IsNullOrWhiteSpace(_newDoor))
        {
            return;
        }
        _doors.Add(_newDoor);
        _newDoor = string.Empty;
    }

    private readonly IList<string> _thermostats = new List<string>();
    private string _newThermostat;

    private void AddThermostat()
    {
        if (string.IsNullOrWhiteSpace(_newThermostat))
        {
            return;
        }
        _thermostats.Add(_newThermostat);
        _newThermostat = string.Empty;
    }

}