@page "/Rooms"

@attribute [Authorize]

<div class="row">
    @foreach (var room in _rooms)
    {
        <div class="card" style="width: 16rem; margin: 1rem">
            <h3 class="card-header" style="text-align: center"> @room </h3>
            <div class="card-body" style="margin: auto">
                <a class="btn btn-dark" href="Devices"> Manage room </a>
            </div>
        </div>
    }
</div>
<div class="input-group">
    <input class="form-control" placeholder="Room name" @bind="_newRoom" aria-describedby="add-room-addon"/>
    <div class="input-group-append">
        <span class="btn btn-info" id="add-room-addon" @onclick="AddRoom"> Add room </span>
    </div>
</div>

@code {
    private readonly IList<string> _rooms = new List<string>();
    private string _newRoom;

    private void AddRoom()
    {
        if (string.IsNullOrWhiteSpace(_newRoom))
        {
            return;
        }
        _rooms.Add(_newRoom);
        _newRoom = string.Empty;
    }

}